<div class="box">
    <p class="title has-text-centered">
        Third party information security posture analysis (TPISP) Tool
    </p>
    
    <p>
        This tool is to be used to determine compliance of your organization to the third-party 
        information security risk management framework. the results of this analysis depicted as an 
        overall value and compliance to each specific sections can be officially used to compile the 
        framework profile of the organization, as mentioned within the framework.
    </p>
</div>

<div class="box">
    <p class="title has-text-centered">Disclaimer</p>
    <p>
        This TSISP tool is to be used in tandem with the third-party information security risk
        management framework created as a final year undergraduate project by Ranaka Ubeysekera,
        APIIT Lanka (pvt) Ltd.
    </p>
</div>

<div class="has-text-right">
    <button class="button is-dark" routerLink="/form">Start</button>
</div>
